@media print {
    .navbar {
        display: none !important;
    }

    .img-container {
        display: none !important;
    }

    body {
        margin: 0.1rem;
        padding-top: 10px;
        width: 100%;
    }

    * {
        box-shadow: none !important;
        border: none !important;    
        background-color: white !important;
        outline: none !important;
    }
}
